{% extends 'base.html.twig' %}

{% block title %}Welcome on WeBKreative{% endblock %}

{% block body %}
    <div class="hero">
        <div class="logo">
            <p>we<span class="B">b</span><span class="K">k</span>reative</p>
        </div>
        <div class="wrapper1">
            <a class="button" href="{{ path('homepage')}}">
                entrez
            </a>
        </div> 
    </div>
{% endblock %}
