{% extends 'base.html.twig' %}

{% block title %}Welcome on WeBKreative{% endblock %}

{% block body %}
    <div class="hero">
        <div class="logo">
            <img src="{{ asset('assets/img/logo-webkreative-whitenobackground.png') }}" alt="Logo Webkreative" class="logo-resize">
        </div>
        <div class="wrapper1">
            <a class="button" href="{{ path('homepage')}}">
                entrez
            </a>
        </div> 
    </div>
{% endblock %}
