{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id='hero'>
        <div class="carroussel">
            <div class="container"></div>
            <img src="" alt="" class="buton" id="g">
            <img src="" alt="" class="buton" id="d">
        </div>

    </section>
    <section id='about'></section>
    <section id='portefolio'></section>
    <section id='services'></section>
    <section id='tarifs'></section>
{% endblock %}
