{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id='hero'>
        <div class="caroussel">
            <div class="slide1">
                <h1>WeBKreative</h1>
                <p >développeur de site web</p>
            </div>
            <div class="slide2">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, iure.</p>
            </div>
            <div class="slide3">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, excepturi!</p>
            </div>
        </div>
        <a href="#about" class="scrollDown"><i class="fas fa-angle-double-down fa-2x"></i></a>
    </section>
    <section id='about'>
        <div class="about">
            <h3>a propos</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptates recusandae dolorem suscipit deleniti doloribus quibusdam ratione rem deserunt, cumque et impedit velit fugiat saepe ex quos, atque illo debitis soluta, praesentium ipsa? Unde ea maxime ipsa, nam explicabo a quam earum at ratione esse ullam doloremque, natus molestias fugiat? Aliquam nemo ratione eos laudantium quisquam ut minima, sed unde dolor, sit ab. Ipsam consectetur cumque voluptates repellat provident, hic eum error sint sapiente labore! Esse expedita corrupti labore delectus rerum? Nesciunt beatae, nemo quo consectetur, assumenda dignissimos porro deleniti cumque provident, ipsum doloribus nihil numquam magnam aliquid enim veniam nulla dolorum vel. Consequuntur fugit reprehenderit itaque nobis nihil, odit dolorem. Autem, quis. At suscipit quia qui. Vitae, blanditiis neque.</p>
        </div>
    </section>
    <section id='services'>
        <div class="service">
            <h3>services</h3>
            <p><span>WeBKreative</span> vous propose, grâce à son expertise, un accompagnement global. De la conception à la mise en ligne, une multitude de services vous sont proposés afin de correspondre le mieux à vos besoins.</p>
            <div class="service--glass">
                <ul class="service-list">
                    <li>
                        <a class="service--link" href="">
                            <i class="fi fi-rs-paint-brush"></i>
                            <p>design</p>
                        </a>
                    </li>
                    <li>
                        <a class="service--link" href="">
                            <i class="fi fi-rs-computer"></i>
                            <p>conception</p>
                        </a>
                    </li>
                    <li>
                        <a class="service--link" href="">
                            <i class="fi fi-rs-users"></i>
                            <p>accompagnement</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-holder" id="btn">
                <a href="" class="more-btn--text">en savoir plus</a>
            </div>
        </div>
    </section>
    <section id='portefolio'></section>
    <section id='tarifs'></section>
{% endblock %}