{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id='hero'>
        <div class="caroussel">
            <div class="slide1">
                <h1>WeBKreative</h1>
                <p >développeur de site web</p>
            </div>
            <div class="slide2">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, iure.</p>
            </div>
            <div class="slide3">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, excepturi!</p>
            </div>
        </div>
        <a href="#about" class="scrollDown"><i class="fas fa-angle-double-down fa-2x"></i></a>
    </section>
    <section id='about'></section>
    <section id='portefolio'></section>
    <section id='services'></section>
    <section id='tarifs'></section>
{% endblock %}