// @import "custom";
// @import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: Horizon;
  src: url("/home/kevin/Documents/WebKreative entreprise/Portofolio/Fonts/horizon/Horizon.otf") format("opentype");
}

.B {
  font-family: 'Horizon', serif;
  text-transform: uppercase;
}

.K {
  font-family: 'Horizon', serif;
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: 'BioRhyme', serif;
}

.hero {
  background: linear-gradient(100deg, white 50%, black 50%);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50%;
  text-align: center;
}
<<<<<<< HEAD
#background {
  background-color: yellow;
  width: 600px; 
  height: 360px; 
  margin-bottom: 10px;
=======

.logo p {
  display: block;
  font-size: 8em;
}

.image {
  width: 50%;
  text-align: center;
  color: white;
  height: auto;
  overflow: hidden;
}

.photo {
  height: 60vh;
  align-self: flex-end;
  border-radius: 100em;
  filter: hue-rotate(90deg);
}

.wrapper1 {
  width: 200px;
  display: flex;
  justify-content: center;
}

.wrapper1 a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
  text-transform: capitalize;
  border: 1px white solid;
  padding: 0.3em 1em 0.3em 1em;
  margin-left: 3em;
  border-radius: 50px;
}

.wrapper1 a:hover {
  background: white;
  color: black;
>>>>>>> plusieurs test de design
}