// @import "custom";
// @import "~bootstrap/scss/bootstrap";

// ---- KRUB Extralight (200) ----
@font-face {
  font-family: 'Krub';
  src: url("/public/assets/fonts/krub/Krub-ExtraLight.ttf") format("opentype");
  font-weight: 200;
}
// ---- KRUB Extralight Italic (200) ----
@font-face {
  font-family: 'Krub';
  src: url("/public/assets/fonts/krub/Krub-ExtraLightItalic.ttf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
// ---- KRUB Light (300) ----
@font-face {
  font-family: 'Krub';
  src: url("/public/assets/fonts/krub/Krub-Light.ttf") format("opentype");
  font-weight: 300;
}
// ---- KRUB Light Italic (300) ----
@font-face {
  font-family: 'Krub';
  src: url("/public/assets/fonts/krub/Krub-LightItalic.ttf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
// ---- KRUB Regular (400) ----
@font-face {
  font-family: 'Krub';
  src: url("/public/assets/fonts/krub/Krub-Regular.ttf") format("opentype");
  font-weight: 400;
}
// ---- KRUB Italic (400) ----
@font-face {
  font-family: 'Krub';
  src: url("/public/assets/fonts/krub/Krub-Italic.ttf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
// ---- KRUB SemiBold (600) ----
@font-face {
  font-family: 'Krub';
  src: url("/public/assets/fonts/krub/Krub-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
// ---- KRUB SemiBold Italic (600) ----
@font-face {
  font-family: 'Krub';
  src: url("/public/assets/fonts/krub/Krub-SemiBoldItalic.ttf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Krub', sans-serif;
  font-weight: 200;
  height: 100vh;
}

.hero {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  text-align: center;
  color: white;
}

.logo p {
  display: block;
  font-size: 15em;
  margin: 0;
}

.wrapper1 a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
  text-transform: capitalize;
  border: 1px white solid;
  padding: 0.3em 1em 0.3em 1em;
  border-radius: 50px;
}

.wrapper1 a:hover {
  background: white;
  color: black;
}

.navigation {
  background-color: black;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}

.nav-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #35c7b7;
}

.nav-home-icon {
  width: 25px;
}

.header-logo {
  width: 150px;
  margin: .5em .5em .5em 3em;
}