@import "tags";

// TODO FAIRE RESPONSIVE TABLETTE
// ---- KRUB Extralight (200) ----
@font-face {
  font-family:'Krub';
  src:url("/public/assets/fonts/krub/Krub-ExtraLight.ttf") format("opentype");
  font-weight: 200;
}
// ---- KRUB Extralight Italic (200) ----
@font-face {
  font-family: 'Krub';
  src:url("/public/assets/fonts/krub/Krub-ExtraLightItalic.ttf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
// ---- KRUB Light (300) ----
@font-face {
  font-family: 'Krub';
  src:url("/public/assets/fonts/krub/Krub-Light.ttf") format("opentype");
  font-weight: 300;
}
// ---- KRUB Light Italic (300) ----
@font-face {
  font-family: 'Krub';
  src:url("/public/assets/fonts/krub/Krub-LightItalic.ttf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
// ---- KRUB Regular (400) ----
@font-face {
  font-family:'Krub';
  src:url("/public/assets/fonts/krub/Krub-Regular.ttf") format("opentype");
  font-weight: 400;
}
// ---- KRUB Italic (400) ----
@font-face {
  font-family: 'Krub';
  src:url("/public/assets/fonts/krub/Krub-Italic.ttf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
// ---- KRUB SemiBold (600) ----
@font-face {
  font-family: 'Krub';
  src:url("/public/assets/fonts/krub/Krub-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
// ---- KRUB SemiBold Italic (600) ----
@font-face {
  font-family: 'Krub';
  src:url("/public/assets/fonts/krub/Krub-SemiBoldItalic.ttf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

$h1TitleSize: 3rem;
$h2TitleSize: 2rem;
$h4TitleSize: 1rem;
$hLetterSpacing: 5px;
$textSize : 1rem;
$textLetterSpacing: 2px;
$blueColor: #35C7B7;
$lineHeight: 1.9em;
$linerGradient: linear-gradient(to left top, #000000, #060406, #09090e, #090e13, #071316, #071719, #081b1b, #0a1f1c, #082420, #062924, #032f28, #00342c);
$h2Color: #FFDB98;


body {
  margin: 0;
  font-family: 'Krub', sans-serif;
  font-size: .8rem;
  font-weight: 200;
  color: white;
  overflow-x: hidden;
  letter-spacing: $textLetterSpacing;
  line-height: $lineHeight;
  box-sizing: border-box;
}

h3 {
  font-size: $h2TitleSize;
  font-weight: 400;
  text-transform: uppercase;
  color: $h2Color;
  white-space: nowrap;
  position: relative;
  padding: .2em;

  &::before {
      background-color: $blueColor;
      position: absolute;
      content: '';
      display: block;
      height: 3px;
      width: 50px;
      top: -1px;
      left: -5px;
  }

  &::after {
      background-color: $blueColor;
      content: '';
      display: block;
      position:absolute; 
      left: 115px; 
      bottom:0;
      height: 3px;
      width: 50px;
  }
}

h4 {
  font-size: $h4TitleSize;
}

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* ---- BEGIN Btn component ---- */
#btn {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid $blueColor;
  border-radius: 5px;
  padding: 1rem 3rem;
  color: white;
  position: relative;
  overflow: hidden;
  letter-spacing: $textLetterSpacing;
  text-transform: capitalize;
  transition: all 1s;
  
  &::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $blueColor;
    transform: scaleX(.3);
    opacity: 0;
    transition: all 1s;
    z-index: -1;
  }
  
  &:hover::before{
    opacity: 1;
    background-color: $blueColor;
    transform: scaleX(1);
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
  }
  
  .more-btn--text{
    text-decoration: none;
    font-weight: 400;

  }

  .more-btn--text:visited {
    color: white;
  }
}
/* ----- END Btn component ---- */
  

/* ---- LANDING PAGE CSS --- */
// IMPORTANT faire affichage tablette
.hero {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo-resize {
  height: 25rem;
}

.svg-wrapper {
  transform: translateY(-50%);
  width: 200px;
}

.shape1,
.shape2 {
  stroke-dasharray: 1120;
  stroke-width: 3px;
  fill: transparent;
  stroke: white;
  border-bottom: 3px solid black;
  transition-timing-function: linear;
  transition: stroke-dashoffset 4s, stroke-dasharray 4s;
}

.shape1 {
  stroke-dashoffset: 1120;
}

.shape2 {
  stroke-dashoffset: -1120;
}

.text {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
  text-align: center;
}

.text a{
  text-decoration: none;
  color: white;
}

.svg-wrapper:hover .shape1,
.svg-wrapper:hover .shape2 {
  stroke-dashoffset: 0;
  stroke-dasharray: 1120;
}

/* ---- END LANDING PAGE CSS ---- */

/* ---- HEADER ---- */
header {
  background-color: black;
  height: 8rem;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-list {
  height: 100%;
  font-weight: 600;
  font-size: $textSize;
  letter-spacing: $textLetterSpacing;
  margin: 0;
  padding: 0;
  
  display: flex;  
  list-style: none;
  
  position: fixed;
  top: 8rem;
  width: 100%;
  flex-direction: column;
  backdrop-filter: blur(.7px);
  background-color: rgba(0, 0, 0, 0.3);
  left:-100%;
  transition: transform ease-out .5s;
}

.slide {
  transform: translateX(100%);
}

.nav-list-border {
  margin-top: 3em;
  border-bottom: 1px solid rgba($color: #35C7B7, $alpha: .5);
  padding-bottom: 1em;
  padding-left: 1em;
  width: 30%;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link:hover {
  color: $blueColor;
}

.nav-logo {
  transition: .5s;
  margin-left: 1em;
}

.nav-logo:hover {
  filter: invert(100%);
}

.header-logo {
  width: 120px;
  height: auto;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  margin-right: .5em;
}

.hamburger:first-child {
  margin-top: 0;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 6px;
  background-color: white;
  margin-top: 6px;
  border-radius: 5px;
  transition: all .7s;
}

.open .bar1,
.open .bar2,
.open .bar3 {
  background-color: $blueColor;
}

.open .bar1 {
  transform: translateY(200%) rotate(-45deg);
}

.open .bar3 {
  transform: translateY(-200%) rotate(45deg);
}

.open .bar2 {
  transform: rotate(45deg);
  opacity: 100%;
}

/* ---- END HEADER ---- */

/* ---- MAIN ---- */
main {
  flex-grow: 1;
}

#hero {
  height: calc(100vh - 8rem);
  overflow-x: clip;
}

/* ---- Caroussel ---- */
.caroussel {
  height: 100vh;
  width: 100vw;
}

.scrollDown {
  width: 50px;
  height: 100px;
  position: absolute;
  top: calc(100vh - 8rem);
  left: 50%;
  transform: translate(-50%, -50%);  
  color: white;
  border: .5px solid white;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  
  &:hover {
    border: 1px solid $blueColor;
    color: $blueColor;
  }

  @media screen and (max-width: 740px) {
    &:visited {
      border-color: white;
      color: white;
    }
  }
  
  i {
    position: relative;
    animation: scroll 3s ease-out infinite;
    
    &:hover {
      animation-play-state: paused;
      opacity: 1;
    }
  }
}


@keyframes scroll {
  0% { transform: translateY(-250%); }
  50% { transform: translateY(0%); }
  100% { opacity: 0; }
}


.slide1,
.slide2,
.slide3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 11.5%;
  width: 50%;
  text-align: center;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  h2 {
    margin: 0;
    font-size: $h2TitleSize;
    font-weight: 400;
    letter-spacing: $hLetterSpacing;
  }

  p {
    margin: 0;
    padding: 1em;
    font-weight: 200;
    letter-spacing: $textLetterSpacing;
  }

}

.slide1 {
  animation-name: anim1;

  h1 {
    margin: 0;
    font-size: $h1TitleSize;
    font-weight: 600;
    letter-spacing: $hLetterSpacing;
  }
}

.slide2 {
  animation-name: anim2;
}

.slide3 {
  animation-name: anim3;
}

@keyframes anim1 {
  0%, 8.3%{ left: -100%; opacity: 0; }
  8.3%, 25% { left: 25%; opacity: 1; }
  33.33%, 100% { opacity: 0; }
}

@keyframes anim2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { opacity: 0; }
}

@keyframes anim3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1;}
  100% { left: 100% ;opacity: 0;}
}
/* ---- END Carousseul ---- */

/* ---- BEGIN service ---- */
#services {
  width: 100vw;
  height: auto;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  h3::after {
    left: 140px;
  }

  p {
    font-weight: 200;
    text-align: left;
    padding: 1em;
    margin-bottom: 0;
    margin-top: 0;

    span {
      font-weight: 600;
      color: $blueColor;
      text-shadow: $blueColor .5px .5px .7px;
    }
  }
}

.service--glass {
  width: 80vw;
  margin-top: 1em;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

.service-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 0;

  li:first-child {
    margin-top: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }

  .service--link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;
  }

  .service--link > i {
    font-size: 60px;
    margin-top: 1em;
  }
}
/* ---- END service ---- */

/* ---- BEGIN About ---- */

#about {
  width: 100vw;
  height: auto;

  .about-image {
    width: 65%;
    clip-path: ellipse(50% 35%);
  }

  
  .about-container {
    display: flex;
    flex-direction: column;

    .about-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    .about-right {
      order: 1;
    }
    
    .btn-holder {
      text-align: center;
      margin-top: 0;
    }

    .more-btn--text:visited {
      color: white;
    }
  }

  .about-right > p {
    margin-top: 2em;

    a {
      cursor: pointer;
      text-decoration: none;
      border-bottom: white .1px dashed;
      color: white;
    }

    a:visited {
      color: $blueColor;
      border-color: $blueColor;
    }
  }

  .about-right p > span {
    font-weight: 700;
    color: $blueColor;
  }
}

.about > h3::after {
  left: 140px;
  top: 1.15em;
}
.about {
  background-image: $linerGradient;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2em;
}

/* ---- END About ---- */

/* ---- BEGIN Portefolio ---- */
#portefolio {
  background: $linerGradient;
  width: 100vw;
  height: auto;
  margin-top: 2em;

  .portefolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3:before {
      top: -3px;
      left: -7px;
    }

    h3::after {
      left: 198px;
      bottom: -2px;
    }

    .portefolio-galery {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;

      .portefolio-glass {
        width: 80vw;
        padding: .5em .5em 0 .5em;

        height: auto;
        margin-bottom: 2em;

        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(8px);
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;

        img {
          border-radius: 15px 15px 0 0;
          object-fit: cover;
        }

        .portefolio-design-row {
          height: .5px;
          width: 30%;
          background-color: $blueColor;
          align-self: center;
          margin-top: 1em;
        }

        .portefolio-card-info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          
          .portefolio-card-text {
            margin-top: 0;
            padding: 0 1em 0 1em;
          }

          h4 {
            align-self: center;
            text-transform: capitalize;
            margin: 1em 0 .5em 0;
            font-weight: 400;
            font-style: italic;
          }

          .portefolio-card-tag {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 1em 1em 1em;

            .portefolio-tag {
              width: auto;
              display: flex;
              justify-content: space-between;
              align-items: center;

              border-radius: 25px;
              margin: .5em .5em .5em 0;
              padding: .5em;

              .tag-logo {
                margin-right: .5em;
              }

              img {
                width: 15px;
                margin-right: .5em;
              }

              & > p {
                font-size: .5rem;
                margin: 0 0 0 0;
                font-weight: 700;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }
}
/* ---- END Portefolio ---- */

/* ---- BEGIN Contact ---- */
#contact {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 1em;

    h3::before {
        top: -3px;
        left: -10px;
      
    }

    h3::after {
      left: 118px;
      bottom: -2px;
    }

    .contact-title {
      strong {
        font-weight: 400;
        color: $blueColor;
      }
    }
  }
}
/* ---- END Contact ---- */

/* ---- FOOTER ---- */
footer {
  background-color: black;
  height: 8rem;
}
/* ---- END FOOTER ---- */

/* ---- END MAIN ---- */