@media screen and (min-width: 740px) {
    header {
        height: 10rem;
    }

    .logo-resize {
        height: 30rem;
    }

    .nav-list {
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: inherit;
    }

    .nav-link:hover {
        color: #35c7b7;
        animation: scale .2s forwards;
    }

    .nav-list-border {
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 0;
        padding-left: 0;
        width: 100%;
    }

    @keyframes scale {
        0% { font-size: 1.5rem; }
        50% { font-size: 1.75rem; }
        100% { font-size: 2rem; }
    }

    .header-logo {
        width: 10em;
    }

    .hamburger {
        display: none;
    }
}