@import "tags";

$h1TitleSize: 6rem;
$h2TitleSize: 4rem;
$h3TitleSize: 2.5rem;
$textSize: 1.1rem;
$blueColor: #35c7b7;


@media screen and (min-width: 740px) {
    header {
        height: 10rem;
    }

    h3 {
        font-size: $h3TitleSize;
        &::before {
            background-color: $blueColor;
            position: absolute;
            content: '';
            display: block;
            height: 3px;
            width: 60px;
            top: 0px;
            left: -10px;
        }
        
        &::after {
            background-color: $blueColor;
            content: '';
            display: block;
            position:absolute; 
            left: 140px; 
            bottom:0;
            height: 3px;
            width: 60px;
        }
    }

    .svg-wrapper {
        width: 400px;
    }

    .logo-resize {
        height: 30rem;
    }

    .nav-list {
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: inherit;
    }

    .nav-link:hover {
        color: $blueColor;
        animation: scale .2s forwards;
    }

    .nav-list-border {
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 0;
        padding-left: 0;
        width: 100%;
    }

    @keyframes scale {
        0% { font-size: 1.5rem; }
        50% { font-size: 1.75rem; }
        100% { font-size: 2rem; }
    }

    .header-logo {
        width: 10em;
    }

    .hamburger {
        display: none;
    }

/* ---- BEGIN Caroussel Desktop ---- */
    .slide1,
    .slide2,
    .slide3 {
        h2 {
            font-size: $h2TitleSize;
        }

        p {
            font-size: $textSize;
        }
    } 
    
    .slide1 {
        h1 {
            font-size: $h1TitleSize;
        }
    }
/* ---- END Caroussel Desktop ---- */

/* ---- BEGIN About ---- */
    .about {
        width: 80%;
        font-size: $textSize;
        margin: auto; 
        border-radius: 15px;

        h3::before {
            top: -4px;
        }

        h3::after {
            left: 170px;
            top: 40px 
        }

        // BUG animation don't work on button
        .about-container {
            flex-direction: row !important;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .about-left {
                width: 40%;
            }

            .about-right {
                width: 60%;
                order: 0;
            }

            .btn-holder {
                order: 1;
            }
        }
    }
/* ---- END About ---- */

/* ---- BEGIN Service ---- */ 
    .service {
        padding: 2em;
        width: 80%;
        font-size: $textSize;
        margin: auto;
        justify-content: space-between;
        
        p {
            text-align: left;
            // margin-top: 3em;
        }

        h3::before {
            top: -4px
        }

        h3:after {
            left: 165px;
            bottom: -4px;
        }

        .service--glass {
            margin-top: 4em;
        }

        .service-list {
            flex-direction: row;
            justify-content: space-evenly;
        }
        
    }
/* ---- END Service ---- */

/* ---- BEGIN Portefolio ---- */
    #portefolio {
        width: 80%;
        margin: auto;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        .portefolio {
            width: 100%;
            h3::before {
                top: -4px;
            }

            h3::after {
                left: 240px;
                bottom: -4px;
            }

            .portefolio-galery {
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
                margin-top: 2em;

                .portefolio-glass {
                    width: 25%;
                    padding: .8em .8em 0 .8em;
                }
            }
        }
    }
/* ---- END  Portefolio ---- */
/* ---- Scrollbar CSS ---- */
  /* Firefox */
  * {
        scrollbar-width: thin;
        scrollbar-color: #35c7b7 #dedede;
    }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
        width: 7px;
    }

  *::-webkit-scrollbar-track {
        background: #050505;
    }

  *::-webkit-scrollbar-thumb {
        background-color: #35c7b7;
        border-radius: 50px;
        border: 1px ridge #000000;
    }

/* ---- END Scrollbar CSS ---- */
}