$h4TitleSize: 1rem;

#services-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .services-page-card--subtitle {
        font-size: $h4TitleSize;
        font-weight: 400;
        font-style: italic;
        text-transform: capitalize;
    }

    .services-page-card--text {
        padding: 1em;
    }
}

#service-design {
    background-color: black;
    padding: 2em;
}

#service-conception {
    padding: 2em;
}

#service-accompagnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    padding: 2em;
}