/* ---- BEGIN Language specific---- */

.symfony {
    background-color: black;
    color: white;
}

.javascript {
    background-color: #F7DF1E;
    color: black;
}

  /* ---- END Language specific ---- */

/* ---- Begin Tag specific ---- */

/* ---- END Tag specific ---- */